# Node
node_modules/
npm-debug.log
yarn-error.log
.env
frontend/.env
backend/.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
target/
build/
*.class
*.jar
*.war

# OS
.DS_Store
Thumbs.db

# Logs
*.log
frontend_logs.txt

# Docker
.docker_data/
mysql_data/
